.about{
    background-color: #efefef;
    padding: 4rem;
}
.about h2{
    text-align: center;
    color: darkcyan;
}

.about .picture{
    height: 250px;
    border-radius: 50%;
    border: 1px solid #cfd2d5;
    margin-bottom: 12px;
}

.about button{
    margin-top: 12px;
    
}

.about button:hover{
    background-color:aqua;
    color: blue;
    text-decoration: underline;

}