
.catalog h1{
    color: rgb(14, 127, 127);
    padding-top: 10px;
    padding-bottom: 10px;
}

.catalog .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catalog .list .product{
    margin-left: 15px;
    margin-bottom: 15px;
}

.catalog .filters{
    margin-bottom: 20px;
}
.catalog .filters button{
    margin-right: 12px;
    background-color: rgb(112, 14, 14);
}
.catalog .filters button:hover{
    background-color: rgb(174, 174, 203);
    text-decoration: underline;
    
    
}
