.adm-discount{
    border: 1px solid black;
    width: 400px;
    border-radius: 5px;
}

.admin h1{
    color: black;
}
.admin h1 i{
    color: darkcyan;
    margin-right: 8px;
}

.admin .parent{
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;

}
.admin .admin-container{
    text-align: center;
}