.product{
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    width: 250px;
    height: 380px;
}

.product h3{
    color: darkblue;
}

.product img {
    width: 250px;
    height: 200px;
    padding-top: 40px;
    background-color: #6a6a6a;
}
.product .controls {
    display: flex;
    justify-content: space-around;
}
.product .prices{
    display: flex;
    justify-content: space-around;
}

